WPFDeveloper/Service References/WCFDeveloperReference/WCFDeveloper2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LIBDeveloper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LIBDeveloper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDeveloper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Developer" nillable="true" type="tns:Developer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeveloper" nillable="true" type="tns:ArrayOfDeveloper" />
  <xs:complexType name="Developer">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDeveloper" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgrammingLanguages" nillable="true" type="tns:ArrayOfProgrammingLanguage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Developer" nillable="true" type="tns:Developer" />
  <xs:complexType name="ArrayOfProgrammingLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgrammingLanguage" nillable="true" type="tns:ProgrammingLanguage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgrammingLanguage" nillable="true" type="tns:ArrayOfProgrammingLanguage" />
  <xs:complexType name="ProgrammingLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProgrammingLanguage" type="xs:int" />
      <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgrammingLanguage" nillable="true" type="tns:ProgrammingLanguage" />
</xs:schema>