WPFDeveloper/Service References/WCFDeveloperReference/WCFDeveloper3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50436/WCFDeveloper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LIBDeveloper" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LIBDeveloper" minOccurs="0" name="GetDevelopersResult" nillable="true" type="q1:ArrayOfDeveloper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgrammingLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgrammingLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LIBDeveloper" minOccurs="0" name="GetProgrammingLanguagesResult" nillable="true" type="q2:ArrayOfProgrammingLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDevelopers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LIBDeveloper" minOccurs="0" name="developers" nillable="true" type="q3:ArrayOfDeveloper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDevelopersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>